header h1 {
font-family: 'Open Sans', sans-serif;
text-align: center;
}

section {
background-image: url(http://cdn2.aharchitecture.com/cdn/farfuture/A9ZWZr-tN5moM0F24N4JRqyqXACM3KZnPJge6Vg_IGw/mtime:1373388445/sites/default/files/styles/adaptive/public/projects/5%20_Arts%20and%20Crafts%20Remodrling.jpg?itok=8M6zwpIH)
}
